<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../static/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../static/assets/img/logo.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Điểm danh tự động - NCKH 2020
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="../static/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/assets/css/paper-dashboard.css?v=2.0.0" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="../static/assets/demo/demo.css" rel="stylesheet" />
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <style>
.zoom {
  transition: transform .5s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
</style>
</head>

<body>
    <div class="wrapper ">
        <div class="sidebar" data-color="white" data-active-color="danger">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
            <div class="logo">
                <a href="/" class="simple-text logo-mini">
                    <div class="logo-image-small">
                        <img src="../static/assets/img/logo.png">
                    </div>
                </a>
                <a href="/" class="simple-text logo-normal">
          KMAS
          <!-- <div class="logo-image-big">
            <img src="../assets/img/logo-big.png">
          </div> -->
        </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li>
                        <a href="./">
                            <i class="nc-icon nc-layout-11"></i>
                            <p>Home</p>
                        </a>
                    </li>
                    <li>
                        <a href="./attendance">
                            <i class="nc-icon nc-ruler-pencil"></i>
                            <p>Attendance</p>
                        </a>
                    </li>
                    <li>
                        <a href="./attendance_info">
                            <i class="nc-icon nc-single-02"></i>
                            <p>Attendance List</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" href="#pablo">
                            <div id="Class_table"></div>
                        </a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        <ul class="navbar-nav">
                            <li class="nav-item btn-rotate dropdown">
                                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="nc-icon nc-settings-gear-65"></i>
                                    <p>
                                        <span class="d-lg-none d-md-block">Some Actions</span>
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="/account_setting">Account Setting</a>
                                    <a class="dropdown-item" href="/system_setting">System Setting</a>
                                    <a class="dropdown-item" href="#" onclick="logout()">Logout</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card ">
                            <div class="card-header ">
                                <h5 class="card-title">General Info</h5>
                            </div>
                            <div class="card-body ">
                                Số buổi đã điểm danh:<br />
                                Tổng số sinh viên: <br />

                            </div>
                            <div class="card-footer ">
                                <hr>
                                <div class="stats">
                                    <div id="Class_ip"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card ">
                            <div class="card-header ">
                                <h5 class="card-title">Attendance List</h5>
                            </div>
                            <div class="card-body ">
                                <div id='student_table'></div>
                                <div class='update ml-auto mr-auto'>
                                  <button onclick='download()' class='btn btn-primary btn-round'>Download</button>
                                </div>
                            </div>
                            <div class="card-footer ">
                                <hr>
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card ">
                            <div class="card-header ">
                                <h5 class="card-title">Student Info</h5>
                            </div>
                            <div class="card-body ">
                                <div class="col-md-6 pr-1">
                                  <div class="form-group">
                                    <label>Student</label>
                                     <div id='student_id'></div>
                                    <hr>
                                  </div>
                                </div>
                                <div id='student_info'></div>
                            </div>
                            <div class="card-footer ">
                                <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <footer class="footer footer-black  footer-white ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="credits ml-auto">
                            <span class="copyright">
                <div onclick="location.href='http://neik.me';" style="cursor: pointer;">©
                <script>
                  document.write(new Date().getFullYear())
                </script>, made by NeiK - AT13_HVKTMM</div>
              </span>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!--   Core JS Files   -->
    <script src="../static/assets/js/core/jquery.min.js"></script>
    <script src="../static/assets/js/core/popper.min.js"></script>
    <script src="../static/assets/js/core/bootstrap.min.js"></script>
    <script src="../static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!-- Chart JS -->
    <script src="../static/assets/js/plugins/chartjs.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="../static/assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../static/assets/js/paper-dashboard.min.js?v=2.0.0" type="text/javascript"></script>
    <!-- Paper Dashboard DEMO methods, don't include it in your project! -->
    <script src="../static/assets/demo/demo.js"></script>
    <script>
        $(document).ready(function() {
            // Javascript method's body can be found in assets/assets-for-demo/js/demo.js
            // demo.initChartsPages();
        });
    </script>
</body>

<script>
    window.onload = load_table("http://192.168.254.134:3000/api/attendance", "student_table");
    function load_table(url, table) {
        select_std();
        $.ajax({
            url: url,
            type: 'GET',
            success: function(data, status, xhr) {
                str = "<table class='table' style='overflow:hidden;'>\
                    <thead class='text-primary'>\
                        <th>\
                            Stt\
                        </th>\
                        <th>\
                            Student Name\
                        </th>\
                        <th>\
                            Student ID\
                        </th>";
                        for (var i = 0; i < data['att_count'].length; i++) {
                            str += "<th>\
                                " + data['att_count'][i] + "\
                            </th>";
                        }
                    str += "</thead>\
                    <tbody>";
                var t = 0;
                for (var student_id in data['data']) {
                    t++;
                    str += "<tr>\
                        <td>\
                        " + t + "\
                        </td>\
                        <td>\
                          " + data['data'][student_id][0]['name'] + "\
                        </td>\
                        <td>\
                          " + student_id + "\
                        </td>";
                        for (var i = 0; i < data['data'][student_id].length; i++) {
                            if (data['data'][student_id][i]['status'] == 1) {
                                str += "<th>\
                                    " + data['data'][student_id][i]['time'].split(" ")[1] + "\
                                </th>";
                            } else {
                                str += "<th> Nghỉ học </th>";
                            }
                        }
                      str += "</tr>";
                }

                str += "</tbody>\
                  </table>";

                document.getElementById(table).innerHTML = str;
            },
            error: function(jqXhr, textStatus, errorMessage) {
                $('p').append('Error: ' + errorMessage);
            }
        });
    }

    function student_info() {
        student_id = document.getElementById("student").value;
        $.ajax({
            url: "http://192.168.254.134:3000/api/attendance?search=" + student_id,
            type: 'GET',
            success: function(data, status, xhr) {
                str = "<table class='table' style='overflow:hidden;'>\
                    <thead class='text-primary'>\
                        <th>\
                            Date\
                        </th>\
                        <th>\
                            Time Attendance\
                        </th>\
                        <th>\
                            Image\
                        </th>\
                    </thead>\
                    <tbody>";
                console.log(data['data'][student_id]);
                for (var i = 0; i < data['data'][student_id].length; i++) {
                    str += "<tr>\
                        <td>\
                        " + data['data'][student_id][i]['time'].split(" ")[0] + "\
                        </td>";
                        if (data['data'][student_id][i]['status'] == 1) {
                            str += "<td>\
                              " + data['data'][student_id][i]['time'].split(" ")[1] + "\
                            </td>\
                            <td><div class='zoom'><img src='/static/at_img/"+ data['data'][student_id][i]['path'] +".jpg' width='128px' height='72px'></div>\</td>";
                        } else {
                            str += "<td>Nghỉ học</td>\
                            <td></td>";
                        }
                        
                      str += "</tr>";
                }

                str += "</tbody>\
                  </table>";

                document.getElementById(table).innerHTML = str;
            },
            error: function(jqXhr, textStatus, errorMessage) {
                $('p').append('Error: ' + errorMessage);
            }
        });
    }

    function select_std() {
        $.ajax({
            url: "http://192.168.254.134:3000/api/student",
            type: 'GET',
            success: function(data, status, xhr) {
                console.log(data);
                str = "<select name='student' id='student' class='form-control' placeholder='Student'>"
                for (var i = 0; i < data.length; i++) {
                    str += "<option value='" + data[i]['id'] + "'>" + data[i]['name'] + " - " +  data[i]['id'] + "</option>"
                }
                str += "</select>";
                url = "http://192.168.254.134:3000/api/attendance?search=at130722"
                table = "student_info"
                str += "<div class='update ml-auto mr-auto'>\
                      <button onclick='student_info()' class='btn btn-primary btn-round'>View</button>\
                    </div>";

                document.getElementById("student_id").innerHTML = str;
            },
            error: function(jqXhr, textStatus, errorMessage) {
                $('p').append('Error: ' + errorMessage);
            }
        });
    }

    function download() {
        $.ajax({
            url: "http://192.168.254.134:3000/api/attendance/download",
            type: 'GET',
            success: function(data, status, xhr) {
                console.log(data);
            },
            error: function(jqXhr, textStatus, errorMessage) {
                $('p').append('Error: ' + errorMessage);
            }
        });
    }
</script>

</html>